<li data-menu=""><a href=""></a></li>
<li data-menu=""><a class="open-sub" href="javascript:void(0);"></a>
	<ul class="dropdown">
		<li class="hide-for-large"><a href="javascript:void(0);" class="close-sub"><< Voltar</a></li>
		<li data-menu=""><a class="effect" href=""></a>
	</ul>
</li>